.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  height: 450px;
  color: black; /* Set text color to black initially */
  background-color: #f0f8f5;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensure no overflow during animations */
}

/* Heading styles */
.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
  color: black; 
}

.about-section:hover .section-title {
  color: #0a5a3e; /* Change color on hover */
}

/* Paragraph styles */
.section-description {
  font-size: 1.2rem;
  line-height: 1.5;
  transition: color 0.3s ease-in-out;
  color: black; 
}

.about-section:hover .section-description {
  color: #064d2c; /* Change color on hover */
}

/* Image container styles */
.image-container {
  flex: 1;
  text-align: center;
  transition: transform 0.5s ease-in-out;
  color: black; 
}

.about-image {
  max-width: 221px;
  width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
}

.about-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
    height: 550px;
    gap: 30px;
  }

  .section-title {
    font-size: 2rem;
  }

  .section-description {
    font-size: 1rem;
  }

  .about-image {
    max-width: 300px;
  }
}

/* Tablet responsiveness */
@media (max-width: 1068px) {
  .about-section {
    height: auto;
  }

  .section-title {
    font-size: 2rem;
  }

  .section-description {
    font-size: 1rem;
  }

  .about-image {
    max-width: 300px;
  }
}
