/* Full screen and center-aligned section */
.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Full viewport height */
    padding: 0 50px;
    background: linear-gradient(to right, #0b8363, #25866c, #06a759);
    color: white;
  }
  
  .content-container {
    flex: 1;
    color: white;
    text-align: left;
  }
  
  .main-heading {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    color:white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Adds a nice shadow for depth */
  }
  
  .sub-heading {
    font-size: 1.8rem;
    margin-top: 10px;
    color: white;
    font-weight: 300;
    max-width: 500px; /* Limit the width to prevent long lines */
  }
  
  /* Styling for the 3D image */
  .image-container {
    flex: 1;
    text-align: center;
  }
  
  .three-d-image {
    max-width: 450px; 
    width: 100%;
    height: auto;
    transform: rotateY(20deg) rotateX(10deg); /* Creates a 3D rotation effect */
    animation: floating 6s ease-in-out infinite; /* Add a floating animation */
  }
  
 
  @keyframes floating {
    0%, 100% {
      transform: rotateY(20deg) rotateX(10deg) translateY(0);
    }
    50% {
      transform: rotateY(20deg) rotateX(10deg) translateY(-20px);
    }
  }
  

  @media (max-width: 768px) {
    .home-section {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding-top: 100px;
      /* height: auto; */
    }
  
    .main-heading {
      font-size: 3rem;
    }
  
    .sub-heading {
      font-size: 1.2rem;
    }
  
    .three-d-image {
      max-width: 300px;

    }
    .three-d-image {
      animation: none /* Add a floating animation */
    }
  }
  @media (max-width: 1000px) {
    /* .home-section {
      
    }
   */
    .main-heading {
      font-size: 3rem;
    }
  
    .sub-heading {
      font-size: 1.2rem;
    }
  
    .three-d-image {
     margin-top: 0px;
      padding-top: 0px;
      animation: none
    }
  }
  