/* Projects Section */
.projects-section {
  background-color: #f9f9f9;
  padding: 80px 0;
  text-align: center;
}

.projects-section h2 {
  font-size: 3em;
  margin-bottom: 40px;
  color: #333;
  font-weight: bold;
}

/* Container for Project Cards */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

/* Individual Project Card */
.project-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 750px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  position: relative;
  padding-bottom: 35px;
}

/* Project Image */
.project-image {
  width: 70%;
  /* height: 200px; */
  object-fit: cover;
  border-radius: 10px 10px ;
  overflow: hidden;
  border: 1px solid rgb(231, 226, 226);
}


.project-card h3 {
  font-size: 1.5em;
  margin: 15px 0 10px;
  color: #333;
}

.project-card p {
  color: #555;
}

/* Tech Stack */
.tech-stack {
  margin: 10px 0;
  margin-bottom: 30px;
}
.tech-stack span {
  background-color: rgb(91, 149, 91);
  border-radius: 5px;
  margin-left: 10px;
  padding: 2px 12px;
  color: white;
}
.tech-stack span:hover {
  background-color: rgb(29, 185, 29);
}


.project-links {
  display: flex;
  justify-content: space-around;
}

.project-link {
  background-color: #4caf50;
  color: #fff;
  padding: 6px 42px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 100px;
}

.project-link:hover {
  background-color: #2c7a7b;
}


.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


@media (max-width: 768px) {
  .project-card {
    width: 80%; 
  }
  .tech-stack span {
    margin-left: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
@media (max-width: 1000px) {
  .project-card {
    width: 85%;
  }
  .tech-stack {
    display: flex;
    flex-wrap: wrap;
  }
}
